name: Run a security audit

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6.0.2

            - uses: actions/setup-node@v6.2.0

            - run: npm audit
