name: Run the testsuite

on:
    push:
        branches:
            - master
    pull_request:

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                node-version: ["18"]

        steps:
            - uses: actions/checkout@v4.1.1

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3.8.1
              with:
                  node-version: ${{ matrix.node-version }}

            - run: |
                  npm cit
                  npm run build

    auto-merge:
        runs-on: ubuntu-latest
        needs: build

        permissions:
            pull-requests: write
            contents: write

        steps:
            - name: Automatically merge dependabot upgrades
              uses: fastify/github-action-merge-dependabot@v3.9.1
              with:
                  target: minor
